<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Qui suis je ?</h2>
                    <h3 class="section-subheading text-muted">Notre Objectif : Améliorer la productivité et la performance de l’entreprise.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>+ 10 ans d'expérience</h4>
                                    <h4 class="subheading">Profils </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Diplômé d’un Master 2 de Comptabilité, Contrôle, Audit. J’ai débuté mon parcours professionnel chez Cadbury Morocco entant que Controller puis chez un groupe marocain, un Responsable de Comptabilité Groupe. Après ces deux premières expériences, j’intègre en 2008, inwi  en tant que Manager Consolidation et analyses. Au cours de ces différentes expériences de plus de 10 ans, j’ai développé de solides connaissances en Comptabilité Finance, contrôle de Gestion, IFRS et en modélisation afin de développer des outils d’aide à la décision ainsi mes capacités managériales.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2012</h4>
                                    <h4 class="subheading">IFRS et Consolidation</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Implantation et traitement des opérations complexes en consolidation et IFRS ; IFRS 5, affectation du PPA et évaluation des actifs incorporelles (Marques/Relations clientèle..), IAS 36 dépréciation, IAS 18 pour la reconnaissance du revenues, multiple Element Arrangement, modèle statistiques sur la durée de vie des clients, linéarisation du SAC…, IAS 12 impôts différée et Tax preuve, Actualisation des Actifs financiers (IAS 39),….</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014 </h4>
                                    <h4 class="subheading">Transition au BI </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Développer  et modéliser des tableaux de bord sophistiqués totalement interactifs et des outils de gestion performants à l’aide self-BI de Microsoft, <a href="https://powerbi.microsoft.com/fr-fr/">PowerBI</a>. Power BI Desktop propose un des meilleurs environnements de sa catégorie pour la préparation des données, la transformation de données et de la modélisation de données!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016 </h4>
                                    <h4 class="subheading">Phase 2 Expansion Analytique et Big Data</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Implantation des projets analytiques qui ont pour objectifs de découvrir des Insigts au sein des données, découvrir et comprendre des tendances et des comportements complexes en utilisant des algorithmes (Machine Learning) à l’aide de langage associés à la Science de données (R et Python)!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
